.card {
    border-radius: 12px;
    outline: 2px solid #DDE4FD;
    background-color: #F1EEEE;
    padding: 16px;
    width: clamp(400px, 50vw, 800px);
}

.description {
    font-size: 14px;
    line-height: 25px;
    color: #3F63F3;
}