.page {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(0.25rem, 5vw, 2rem);
    
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    max-width: 600px;
    margin-bottom: 1.5rem;
}


.h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2rem, 50vw, 3rem);
  margin: 0
}

.note {
    color: #3F63F3;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: clamp(3rem, 5vw, 4rem);
}

.stage {
    margin-bottom: clamp(3rem, 5vw, 4rem);
}